/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/* Ho */

body{
  font-family: 'Montserrat', sans-serif;

}

.lessonBox{
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 5px;
}

.lessonBox > div{
  padding: 10px;
}

#timetableWrapper{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.lessonBox:hover{
  background-color: white;
}




/*  */
